/* **************************
GENERAL AND RESET RULES
************************** */
body {
  background-color: black;
  color: white;
}
/* **************************
GRIGLIA
************************** */
#play-button,
#empty-button {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}
#play-button:hover,
#empty-button:hover {
  color: #fbc107;
  background-color: red;
  border: 4px solid blue;
}
#griglia {
  display: flex;
  flex-wrap: wrap;
}

#griglia > .cella {
  aspect-ratio: 1/1;
  padding: 1px;
  border-left: 3px solid white;
  border-right: 10px solid #0fe165;
  margin-bottom: 5px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  cursor: pointer;
}

#griglia > .cella.on-click {
  background-image: url(../img/boolean.png);
  cursor: default;
  background-size: cover;
  background-position: center;
  color: red;
}
.scb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#griglia > .cella.bomb {
  background-image: url(../img/boolean.png);
  cursor: default;
  background-size: cover;
  background-position: center;
  color: red;
}

#griglia > .cella.explosion {
  background-image: url(../img/bomb-joypixels.gif);
  cursor: default;
  background-size: cover;
  background-position: center;
  color: red;
}

#griglia > .cella.alive {
  background-image: url(../img/giphy.gif);
  cursor: default;
  background-size: cover;
  background-position: center;
  color: red;
}
